
{% extends 'base.html' %}
 {% block content %}
<div style="margin:40px">
    <h1 style="color:white">facebook:<a href="https://www.facebook.com/profile.php?id=100004434107490">Click Here!</a></h1><br>
    <h1  style="color:white">Instagram:<a href="https://www.instagram.com/coolsantosh13/">Click Here!</a></h1><br>
     <h1  style="color:white">Youtube:<a href="https://www.youtube.com/channel/UC9cJGvV3ZCqHqrErwB19rbg?view_as=subscriber">Click Here !</a></h1>
</div>
<div style="text-align:center;margin-top:140px;">
     <h1 style="color:white">Thanks For Visiting !!!</h1>
</div>



  {% endblock %}

